.home-page,
.about-page,
.flashcard-page,
.all-phrases-page,
.no-flashcards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page,
.about-page,
.about-page p,
.home-page-btns,
.home-page h1 {
    padding: 20px;
}

.home-page h1, .flashcard-page h2 {
    font-family: 'Space Grotesk', sans-serif;
}

.sub-title, .tap-to-flip {
    font-family: 'IBM Plex Mono', monospace;
    color: #16348C;
}

.home-page-btns,
.flashcard-btns {
  display: flex;
}

.home-page-btns,
.flashcard-buttons,
.all-phrases-page {
    gap: 2rem;
}

.about-page p {
    font-size: larger;
    width: 50vw;
    text-align: center;
}


.flashcard-popup {
    gap: 2em;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #F5EFDD;
    color: #1C2541;                                      
    font-weight: bolder;
}

.flashcard-popup .btn {
  width: fit-content!important;
  padding: 10px!important;
}

.before-you-start, .pronunciation-cell {
    font-family: 'IBM Plex Mono', monospace;
}

.before-you-start {
  color: rgb(200, 29, 37);
}

.phrase-cell, .translation-cell, .pronunciation-cell {
  border: 1px solid black;
  border-radius: 12px;
  height: 5vh;
  text-align: center;
  padding: 5px;
}

.all-phrases-page h2 {
    font-family: 'Space Grotesk', sans-serif;
}

.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.quiz-page {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    align-items: center;
}

.quiz-content-box {
    border: 1px solid;
    width: 75vw;
    height: 60vh;
   
}

.question-answer-input {
    width: 50%;
    height: 50%;
}

.quiz-score-display-box {
    border: 1px solid;
    border-radius: 20px;
    padding: 40px 20px;
    height: 65vh;
    overflow-y: scroll;
    width: 25vw;
}

.progress-bar-wrapper {
    width: 100%;
    height: 10px;
    background: #F5EFDD;
    border: 1px solid #e4dcc4;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #16348C;
    border-radius: 20px;
}

.user-profile-page {
   
}

.user-profile-content-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 24px;
    margin: 0 auto;
    padding: 40px 20px;
}

.user-profile-content-box {
    border: 1px solid;
    border-radius: 12px;
    grid-row-start: 2;
    grid-column: 1/2;
    width: 50vw;
    height: 65vh;
    overflow-y: scroll;
    padding: 40px 20px;
}

.preview-card-inner {
    display: flex;
    flex-direction: column;
}

.quiz-score-display-wrapper {
    grid-row-start: 2;
}

.user-flashcards-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 25px;
    padding: 40px 10px;
}

.user-profile-content-box-btns {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.user-profile-content-box-btns .active {
    background-color: #A2D729;
}

.preview-card {
    border: 1px solid #995FA3   ;
    border-radius: 15px;
    width: 15vw;
    height: 35vh;
    position: relative;
    box-shadow: 10px 20px 1px;
}

.preview-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100%;
    gap: 1em;
}

.preview-card-inner .icon-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
}

.preview-card h2 {
    font-size: x-large;
}

.preview-card h3 {
    font-size: large;
    font-weight: 400;
    font-style: italic;
}

.preview-card-inner .flashcard-status-box {
    position: absolute;
    bottom: 0;
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.mastered-btn,
.needs-work-btn {
    grid-row: 2;
}

.preview-card-x,
.needs-work-btn {
    grid-column: 3;
}

.quiz-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 4px;
    border-bottom: 1px solid #e4dcc4;
}

@media (max-width: 767px) {
    .about-page p {
        font-size: small;
        width: 80vw;
    }

    .home-page-btns {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .home-page h2 {
      font-size: larger;
    }

}

@media (max-width: 766px) {
    .flashcard-btns {
        width: 80%;
    }
}

