.home-page,
.about-page,
.flashcard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page,
.about-page,
.about-page p,
.home-page-btns,
.home-page h1 {
    padding: 20px;
}

.home-page h1, .flashcard-page h2 {
    font-family: 'Space Grotesk', sans-serif;
}

.sub-title {
    font-family: 'IBM Plex Mono', monospace;
    color: #16348C;
}

.home-page-btns,
.flashcard-btns {
  display: flex;
  gap: 2rem;
}


.about-page p {
    font-size: larger;
    width: 50vw;
    text-align: center;
}


.flashcard-added-popup,
.flashcard-removed-popup {
    gap: 2em;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #F5EFDD;
    color: #1C2541;                                      
    font-weight: bolder;
}

.flashcard-added-popup .btn,
.flashcard-removed-popup .btn {
  width: fit-content!important;
  padding: 10px!important;
}

.before-you-start {
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(200, 29, 37);
}

@media (max-width: 767px) {
    .about-page p {
        font-size: small;
        width: 80vw;
    }

    .home-page-btns {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .home-page h2 {
      font-size: larger;
    }

}

@media (max-width: 766px) {
    .flashcard-btns {
        width: 80%;
    }
}

