.app-container {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.home-page h2 {
  color: #04724D;
  padding: 10px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid black;
  box-shadow: 0 4px 2px -2px black;
  border-radius: 12px;
  background-color: #1C2541;
  
}

.header,
.nav-menu a {
  color: #A2D729;
}

.header h1 {
  grid-column: 2 / 3;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
}

.nav-menu a {
  text-decoration: none;
}

.phraseCard,
.flashcard-front,
.flashcard-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgba(147, 145, 150, 0.5);
  gap: 2em;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.flashcard,
.phrase-card {
  width: 50vw;
  height: 40vh;
  perspective: 1000px;
  background: transparent;
  cursor: pointer;
}

.flashcard h3,
.phraseCard h3 {
  
  font-size: x-large;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 80%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  
}

.flashcard-front {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid black;
  font-family: 'Jacques Francois', serif;
}

 .flashcard-back {
   background-color: #2563eb;
   color: #ffffff;
   transform: rotateY(180deg);
   font-family: 'Inter', sans-serif!important;
 }

 .flashcard-btns {
  padding: 20px;
  display: flex;
  gap: 4em;
 }

 .btn {
   background-color: #1C2541;
   box-shadow: 0 5px 0 #121729;
   color: white;
   border-radius: 12px;
   border: 1px solid #182038;
   width: 8vw;
   height: 5vh;
   cursor: pointer;
}

 .btn:active {
    box-shadow: none;
    transform: translateY(5px);
 }
 
 .phraseCard {
    border: 1px solid black;
    width: 50vw;
    height: 40vh;
 }

 .phraseCard h3 {
   font-family: 'Jacques Francois', serif!important;
   font-size: xx-large;
 }
  
 .phraseCard h4 {
  font-size: x-large;
  font-style: italic;
  font-weight: lighter;
 }

 .phrase-card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px;
 }

 .next-phrase-btn,
 .flashcard-btns {
   margin-top: 20px;
 }

.footer {
  background-color: #87F5FB;
  height: 100px;
  margin-top: auto;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 2em;
}

.form-container button {
  grid-column: 1 / 3;
  margin: auto;
}